#ML Theory Assignent 2
Naive Bayes for Weather Forecasting

Name-Amit Kumar

Roll no-137

Github link for program file - https://github.com/iamitbhardwaj7/ML_Theory_Assignments_sem6

In [31]:
import pandas as pd

In [32]:
#importing different sklearn libraries
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [33]:
df = pd.read_csv("_weather.csv")
df.head()

    outlook temperature play
0  overcast         hot  yes
1  overcast        cool  yes
2  overcast        mild  yes
3  overcast         hot  yes
4     rainy        mild  yes

In [34]:
m = preprocessing.LabelEncoder()
df['outlook']=m.fit_transform(df['outlook'])
df['temperature']=m.fit_transform(df['temperature'])
df['play']=m.fit_transform(df['play'])

In [35]:
df

    outlook  temperature  play
0         0            1     1
1         0            0     1
2         0            2     1
3         0            1     1
4         1            2     1
5         1            0     1
6         1            0     0
7         1            2     1
8         1            2     0
9         2            1     0
10        2            1     0
11        2            2     0
12        2            0     1
13        2            2     1

In [36]:
X = df.drop(columns=['play'],axis=1)
y = df['play']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [37]:
model = GaussianNB()
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [38]:
predict_train = model.predict(X_train)
print('Target on train data',predict_train)

Target on train data [1 0 1 1 0 0 0 0 0 1 0]

In [42]:
accuracy_train = accuracy_score(y_train,predict_train)
print('Accuracy on train dataset : ', accuracy_train)

Accuracy on train dataset :  0.6363636363636364

In [43]:
predict_test = model.predict(X_test)
print('Target on test data',predict_test)

Target on test data [1 0 1]

In [45]:
accuracy_test = accuracy_score( y_test,predict_test)
print('Accuracy score on test dataset : ', accuracy_test)

Accuracy score on test dataset :  0.6666666666666666